@import 'variables';
@import 'mixins';
/* Paper
-------------------------------------------------- */
.paper-1{
    @include material-shadow(1);
}
.paper-2{
    @include material-shadow(2);
}
.paper-3{
    @include material-shadow(3);
}
.paper-4{
    @include material-shadow(4);
}
.paper-5{
    @include material-shadow(5);
}

/* Placement
-------------------------------------------------- */

@for $i from 1 through 20 {
  .m-t-#{5*$i} { margin-top: 5px * $i; }
  .m-r-#{5*$i} { margin-right: 5px * $i; }
  .m-b-#{5*$i} { margin-bottom: 5px * $i; }
  .m-l-#{5*$i} { margin-left: 5px * $i; }
}
@for $i from 1 through 10 {
  .p-t-#{5*$i} { padding-top: 5px * $i; }
  .p-r-#{5*$i} { padding-right: 5px * $i; }
  .p-b-#{5*$i} { padding-bottom: 5px * $i; }
  .p-l-#{5*$i} { padding-left: 5px * $i; }
}

@media (max-width: $media2){
  .m-t-* { margin-top: 10px; }
  .m-r-* { margin-right: 10px; }
  .m-b-* { margin-bottom: 10px; }
  .m-l-* { margin-left: 10px; }
  .p-t-* { padding-top: 10px; }
  .p-r-* { padding-right: 10px; }
  .p-b-* { padding-bottom: 10px; }
  .p-l-* { padding-left: 10px; }
}


/* Input 
-------------------------------------------------- */
.culqi-input{
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lighten($culqi-color-black,35%);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: lighten($culqi-color-black,35%);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: lighten($culqi-color-black,35%);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: lighten($culqi-color-black,35%);
  }
}



/* Button Call to action 
-------------------------------------------------- */
.btn-call-to-action {
    float: left;
    margin-left: 4px;
    .btn {
        padding: 14px 18px;
        border: 2px solid #c1c1c1;
        background-color: #f3f3f3;
    }
}

@media (max-width: $media2){
  .btn-call-to-action {
      .btn {
          padding: 9px 7px;
      }
  }

}

.btn-culqi{
  background-color:$culqi-color-blue;
  border:none !Important;
  color:white;
  &:hover,&:focus{
    background-color:darken($culqi-color-blue,5%);
    color:white;
  }

}
.btn-danger{
  background-color:$culqi-color-red ;
  border:none !Important;
  color:white;
}




/* Toggle device object
-------------------------------------------------- */
.box-desktop{
  display:inline-block;
}
.box-mobile{
  display:none;
}

@media (max-width: $media2){
  .box-desktop{
    display:none;
  }
  .box-mobile{
    display:inline-block;
  }

}