// =============================================================================
// Transition
// =============================================================================
@mixin transition( $tiempo , $function ){
    -moz-transition: $tiempo $function !important;
    -ms-transition: $tiempo $function !important;
    -o-transition: $tiempo $function !important;
    transition: $tiempo $function !important;
}

// =============================================================================
// Material Shadow
// =============================================================================
@mixin material-shadow($level: 1){
    @if $level == 1 {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30), 0 15px 20px rgba(0, 0, 0, 0.22);
    }
}

// =============================================================================
// Material Color
// =============================================================================
@mixin material-color( $background-color , $color ){
    background-color:  $background-color !important;
    color:  $color !important;
}

// =============================================================================
// Container
// =============================================================================
@mixin new-container($base-width, $media3-width:auto, $media2-width:auto, $media1-width:auto){
    width: $base-width;
    margin: auto;
    @media (max-width: $media3) {
        width: $media3-width;
    }
    @media (max-width: $media2) {
        width: $media2-width;
    }
    @media (max-width: $media1) {
        width: $media1-width;
    }
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}